# 데이터 분석 기초
## 데이터 파악하기, 다루기 쉽게 수정하기

---
## 05-1. 데이터 파악하기

 함수 | 기능 
-------- | --------
 head() | 데이터 앞부분 출력 
 tail() | 데이터 뒷부분 출력 
 View() | 뷰어 창에서 데이터 확인 
 dim() | 데이터 차원 출력
 str() | 데이터 속성 출력 
 summary() | 요약통계량 출력

### exam 데이터 파악하기

#### 데이터 준비

In [2]:
exam <- read.csv("data/csv_exam.csv")

#### head() - 데이터 앞부분 확인하기

In [3]:
head(exam)  # 앞에서부터 6 행까지 출력

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [4]:
head(exam, 10) # 앞에서부터 10 행까지 출력

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45

#### tail() - 데이터 뒷부분 확인하기

In [5]:
tail(exam)    # 뒤에서부터 6 행까지 출력

   id class math english science
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [6]:
tail(exam, 10)    # 뒤에서부터 10 행까지 출력

   id class math english science
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

#### View() - 뷰어 창에서 데이터 확인하기

In [ ]:
View(exam)

![ex_screenshot1](./img/1.PNG)

#### dim() - 몇 행 몇 열로 구성되는지 알아보기

In [10]:
dim(exam) # 행, 열 출력

[1] 20  5

#### str() - 속성 파악하기

In [11]:
str(exam) # 데이터 속성 확인

'data.frame':	20 obs. of  5 variables:
 $ id     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ class  : int  1 1 1 1 2 2 2 2 3 3 ...
 $ math   : int  50 60 45 30 25 50 80 90 20 50 ...
 $ english: int  98 97 86 98 80 89 90 78 98 98 ...
 $ science: int  50 60 78 58 65 98 45 25 15 45 ...

#### summary() - 요약통계량 산출하기

In [12]:
summary(exam) # 요약통계량 출력

       id            class        math          english        science
 Min.   : 1.00   Min.   :1   Min.   :20.00   Min.   :56.0   Min.   :12.00
 1st Qu.: 5.75   1st Qu.:2   1st Qu.:45.75   1st Qu.:78.0   1st Qu.:45.00
 Median :10.50   Median :3   Median :54.00   Median :86.5   Median :62.50
 Mean   :10.50   Mean   :3   Mean   :57.45   Mean   :84.9   Mean   :59.45
 3rd Qu.:15.25   3rd Qu.:4   3rd Qu.:75.75   3rd Qu.:98.0   3rd Qu.:78.00
 Max.   :20.00   Max.   :5   Max.   :90.00   Max.   :98.0   Max.   :98.00

#### mpg 데이터 파악하기

In [14]:
# ggplo2 의 mpg 데이터를 데이터 프레임 형태로 불러오기
mpg <- as.data.frame(ggplot2::mpg)

In [17]:
head(mpg) # Raw 데이터 앞부분 확인

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [18]:
tail(mpg) # Raw 데이터 뒷부분 확인

    manufacturer model  displ year cyl trans      drv cty hwy fl class
229 volkswagen   passat 1.8   1999 4   auto(l5)   f   18  29  p  midsize
230 volkswagen   passat 2.0   2008 4   auto(s6)   f   19  28  p  midsize
231 volkswagen   passat 2.0   2008 4   manual(m6) f   21  29  p  midsize
232 volkswagen   passat 2.8   1999 6   auto(l5)   f   16  26  p  midsize
233 volkswagen   passat 2.8   1999 6   manual(m5) f   18  26  p  midsize
234 volkswagen   passat 3.6   2008 6   auto(s6)   f   17  26  p  midsize

In [ ]:
View(mpg)

![ex_screenshot1](./img/2.PNG)

In [21]:
dim(mpg) # 행, 열 출력

[1] 234  11

In [22]:
str(mpg) # 데이터 속성 확인

'data.frame':	234 obs. of  11 variables:
 $ manufacturer: chr  "audi" "audi" "audi" "audi" ...
 $ model       : chr  "a4" "a4" "a4" "a4" ...
 $ displ       : num  1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int  1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int  4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr  "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr  "f" "f" "f" "f" ...
 $ cty         : int  18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int  29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr  "p" "p" "p" "p" ...
 $ class       : chr  "compact" "compact" "compact" "compact" ...

In [23]:
summary(mpg) # 요약통계량 출력

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

### 2. 데이터 수정하기 - 변수명 바꾸기
#### dplyr 패키지 설치 & 로드

In [31]:
#install.packages("dplyr") # dplyr 설치
library(dplyr) # dplyr 로드

#### 데이터 프레임 생성

In [32]:
df_raw <- data.frame(var1 = c(1, 2, 1),
                     var2 = c(2, 3, 2))
df_raw

  var1 var2
1 1    2
2 2    3
3 1    2

#### 1. 데이터 프레임 복사본 만들기

In [33]:
df_new <- df_raw # 복사본 생성
df_new # 출력

  var1 var2
1 1    2
2 2    3
3 1    2

#### 2. 변수명 바꾸기

In [34]:
df_new <- rename(df_new, v2 = var2) # var2 를 v2 로 수정
df_new

  var1 v2
1 1    2
2 2    3
3 1    2

##### [유의] rename()에 '새 변수명 = 기존 변수명' 순서로 입력
#### 수정 전후 비교

In [36]:
df_raw

  var1 var2
1 1    2
2 2    3
3 1    2

In [37]:
df_new

  var1 v2
1 1    2
2 2    3
3 1    2

#### 혼자서 해보기
mpg 데이터의 변수명은 긴 단어를 짧게 줄인 축약어로 되어있습니다. cty 변수는 도시 연비, hwy 변수는
고속도로 연비를 의미합니다. 변수명을 이해하기 쉬운 단어로 바꾸려고 합니다. mpg 데이터를 이용해서
아래 문제를 해결해 보세요.

- Q1. ggplot2 패키지의 mpg 데이터를 사용할 수 있도록 불러온 뒤 복사본을 만드세요.

In [45]:
mpg <- as.data.frame(ggplot2::mpg)
mpg_new <- mpg

- Q2. 복사본 데이터를 이용해서 cty는 city로, hwy는 highway로 변수명을 수정하세요.

In [46]:
summary(mpg)

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

In [47]:
mpg_new <- rename(mpg_new, city = cty) 
mpg_new <- rename(mpg_new, highway = hwy)

In [48]:
summary(mpg)

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

### 05-3. 파생변수 만들기

![ex_screenshot1](./img/3.PNG)

### 변수 조합해 파생변수 만들기
#### 데이터 프레임 생성

In [53]:
df <- data.frame(var1 = c(4, 3, 8),
                 var2 = c(2, 6, 1))
df

  var1 var2
1 4    2
2 3    6
3 8    1

#### 파생변수 생성

In [55]:
df$var_sum <- df$var1 + df$var2 # var_sum 파생변수 생성
df

  var1 var2 var_sum
1 4    2    6
2 3    6    9
3 8    1    9

In [58]:
df$var_mean <- (df$var1 + df$var2)/2  # var_mean 파생변수 생성
df

  var1 var2 var_sum var_mean
1 4    2    6       3.0
2 3    6    9       4.5
3 8    1    9       4.5

#### mpg 통합 연비 변수 만들기

In [61]:
mpg$total <- (mpg$cty + mpg$hwy)/2 # 통합 연비 변수 생성
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class   total
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 23.5
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 25.0
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 25.5
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 25.5
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 21.0
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact 22.0

In [63]:
mean(mpg$total)

[1] 20.14957

### 조건문을 활용해 파생변수 만들기
#### 1.기준값 정하기

In [65]:
summary(mpg$total) # 요약 통계량 산출

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.50   15.50   20.50   20.15   23.50   39.50

In [ ]:
hist(mpg$total) # 히스토그램 생성

![ex_screenshot](./img/4.png)

#### 2. 조건문으로 합격 판정 변수 만들기

![ex_screenshot](./img/5.png)

In [68]:
# 20 이상이면 pass, 그렇지 않으면 fail 부여
mpg$test <- ifelse(mpg$total >= 20, "pass", "fail")

In [69]:
head(mpg, 20) # 데이터 확인

   manufacturer model              displ year cyl trans      drv cty hwy fl
1  audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2  audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3  audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4  audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5  audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6  audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7  audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8  audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9  audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10 audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11 audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12 audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13 audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14 audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15 audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16 audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17 audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18 audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
   class   total test
1  compact 23.5  pass
2  compact 25.0  pass
3  compact 25.5  pass
4  compact 25.5  pass
5  compact 21.0  pass
6  compact 22.0  pass
7  compact 22.5  pass
8  compact 22.0  pass
9  compact 20.5  pass
10 compact 24.0  pass
11 compact 23.0  pass
12 compact 20.0  pass
13 compact 21.0  pass
14 compact 21.0  pass
15 compact 20.0  pass
16 midsize 19.5  fail
17 midsize 21.0  pass
18 midsize 19.5  fail
19 suv     17.0  fail
20 suv     13.0  fail

#### 3. 빈도표로 합격 판정 자동차 수 살펴보기

In [70]:
table(mpg$test) # 연비 합격 빈도표 생성

fail pass
 106  128

#### 4. 막대 그래프빈 빈도 표현하기

In [72]:
library(ggplot2) # ggplot2 로드
qplot(mpg$test) # 연비 합격 빈도 막대 그래프 생성

![ex_screenshot](./img/6.png)

### 중첩 조건문 활용하기 - 연비 등급 변수 만들기

 등급 | total 기준
-------- | --------
 A | 30 이상
 B | 20~29
 C | 20 미만

In [76]:
# total 을 기준으로 A, B, C 등급 부여
mpg$grade <- ifelse(mpg$total >= 30, "A",
             ifelse(mpg$total >= 20, "B", "C"))

In [77]:
head(mpg, 20) # 데이터 확인

   manufacturer model              displ year cyl trans      drv cty hwy fl
1  audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2  audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3  audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4  audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5  audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6  audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7  audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8  audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9  audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10 audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11 audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12 audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13 audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14 audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15 audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16 audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17 audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18 audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20 chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
   class   total test grade
1  compact 23.5  pass B
2  compact 25.0  pass B
3  compact 25.5  pass B
4  compact 25.5  pass B
5  compact 21.0  pass B
6  compact 22.0  pass B
7  compact 22.5  pass B
8  compact 22.0  pass B
9  compact 20.5  pass B
10 compact 24.0  pass B
11 compact 23.0  pass B
12 compact 20.0  pass B
13 compact 21.0  pass B
14 compact 21.0  pass B
15 compact 20.0  pass B
16 midsize 19.5  fail C
17 midsize 21.0  pass B
18 midsize 19.5  fail C
19 suv     17.0  fail C
20 suv     13.0  fail C

##### [유의] ifelse()가 두 번 반복되므로 열리는 괄호와 닫히는 괄호가 각각 두 개, 쉼표도 각각 두 개

#### 빈도표, 막대 그래프로 연비 등급 살펴보기

In [78]:
table(mpg$grade) # 등급 빈도표 생성

  A   B   C
 10 118 106

In [ ]:
qplot(mpg$grade) # 등급 빈도 막대 그래프 생성

![ex_screenshot](./img/7.png)

#### 원하는 만큼 범주 만들기

In [80]:
# A, B, C, D 등급 부여
mpg$grade2 <- ifelse(mpg$total >= 30, "A",
              ifelse(mpg$total >= 25, "B",
              ifelse(mpg$total >= 20, "C", "D")))

### 정리하기
#### 1.데이터 준비, 패키지 준비
mpg <- as.data.frame(ggplot2::mpg) # 데이터 불러오기

library(dplyr) # dplyr 로드

library(ggplot2) # ggplot2 로드

#### 2.데이터 파악
head(mpg) # Raw 데이터 앞부분

tail(mpg) # Raw 데이터 뒷부분

View(mpg) # Raw 데이터 뷰어창에서 확인

dim(mpg) # 차원

str(mpg) # 속성

summary(mpg) # 요약 통계량

### 분석 도전!
ggplot2 패키지에는 미국 동북중부 437개 지역의 인구통계 정보를 담은 midwest라는 데이터가 포함되어
있습니다. midwest 데이터를 사용해 데이터 분석 문제를 해결해보세요.

#### 문제1. ggplot2의 midwest 데이터를 데이터 프레임 형태로 불러와서 데이터의 특성을 파악하세요.

In [84]:
midwest <- as.data.frame(ggplot2::midwest)

In [85]:
head(midwest)

  PID county    state area  poptotal popdensity popwhite popblack popamerindian
1 561 ADAMS     IL    0.052 66090    1270.9615  63917    1702     98
2 562 ALEXANDER IL    0.014 10626     759.0000   7054    3496     19
3 563 BOND      IL    0.022 14991     681.4091  14477     429     35
4 564 BOONE     IL    0.017 30806    1812.1176  29344     127     46
5 565 BROWN     IL    0.018  5836     324.2222   5264     547     14
6 566 BUREAU    IL    0.050 35688     713.7600  35157      50     65
  popasian ... percollege percprof poppovertyknown percpovertyknown
1 249      ... 19.63139   4.355859 63628           96.27478
2  48      ... 11.24331   2.870315 10529           99.08714
3  16      ... 17.03382   4.488572 14235           94.95697
4 150      ... 17.27895   4.197800 30337           98.47757
5   5      ... 14.47600   3.367680  4815           82.50514
6 195      ... 18.90462   3.275891 35107           98.37200
  percbelowpoverty percchildbelowpovert percadultpoverty percelderlypoverty
1 13.151443        18.01172             11.009776        12.443812
2 32.244278        45.82651             27.385647        25.228976
3 12.068844        14.03606             10.852090        12.697410
4  7.209019        11.17954              5.536013         6.217047
5 13.520249        13.02289             11.143211        19.200000
6 10.399635        14.15882              8.179287        11.008586
  inmetro category
1 0       AAR
2 0       LHR
3 0       AAR
4 1       ALU
5 0       AAR
6 0       AAR

In [86]:
tail(midwest)

    PID  county     state area  poptotal popdensity popwhite popblack
432 3047 WASHINGTON WI    0.025  95328   3813.1200   94465    125
433 3048 WAUKESHA   WI    0.034 304715   8962.2059  298313   1096
434 3049 WAUPACA    WI    0.045  46104   1024.5333   45695     22
435 3050 WAUSHARA   WI    0.037  19385    523.9189   19094     29
436 3051 WINNEBAGO  WI    0.035 140320   4009.1429  136822    697
437 3052 WOOD       WI    0.048  73605   1533.4375   72157     90
    popamerindian popasian ... percollege percprof poppovertyknown
432 208            337     ... 23.39090   4.014568  94143
433 672           2699     ... 35.39678   7.667090 299802
434 125             92     ... 16.54987   3.138596  44412
435  70             43     ... 15.06458   2.620907  19163
436 685           1728     ... 24.99550   5.659847 133950
437 481            722     ... 21.66638   4.583725  72685
    percpovertyknown percbelowpoverty percchildbelowpovert percadultpoverty
432 98.75692          3.237628         4.069854             2.584500
433 98.38767          3.121060         3.785820             2.590061
434 96.33004          8.488697        10.071411             6.953799
435 98.85478         13.786985        20.050708            11.695784
436 95.46038          8.804031        10.592031             8.660587
437 98.75008          8.525831        11.162997             7.375656
    percelderlypoverty inmetro category
432  4.280889          1       HLU
433  4.085479          1       HLU
434 10.338641          0       AAR
435 11.804558          0       AAR
436  6.661094          1       HAU
437  7.882918          0       AAR

In [ ]:
View(midwest)

![ex_screenshot](./img/8.png)

In [88]:
dim(midwest)

[1] 437  28

In [89]:
str(midwest)

'data.frame':	437 obs. of  28 variables:
 $ PID                 : int  561 562 563 564 565 566 567 568 569 570 ...
 $ county              : chr  "ADAMS" "ALEXANDER" "BOND" "BOONE" ...
 $ state               : chr  "IL" "IL" "IL" "IL" ...
 $ area                : num  0.052 0.014 0.022 0.017 0.018 0.05 0.017 0.027 0.024 0.058 ...
 $ poptotal            : int  66090 10626 14991 30806 5836 35688 5322 16805 13437 173025 ...
 $ popdensity          : num  1271 759 681 1812 324 ...
 $ popwhite            : int  63917 7054 14477 29344 5264 35157 5298 16519 13384 146506 ...
 $ popblack            : int  1702 3496 429 127 547 50 1 111 16 16559 ...
 $ popamerindian       : int  98 19 35 46 14 65 8 30 8 331 ...
 $ popasian            : int  249 48 16 150 5 195 15 61 23 8033 ...
 $ popother            : int  124 9 34 1139 6 221 0 84 6 1596 ...
 $ percwhite           : num  96.7 66.4 96.6 95.3 90.2 ...
 $ percblack           : num  2.575 32.9 2.862 0.412 9.373 ...
 $ percamerindan       : num  0.148 0.179 0.233 0.149 0.24 ...
 $ percasian           : num  0.3768 0.4517 0.1067 0.4869 0.0857 ...
 $ percother           : num  0.1876 0.0847 0.2268 3.6973 0.1028 ...
 $ popadults           : int  43298 6724 9669 19272 3979 23444 3583 11323 8825 95971 ...
 $ perchsd             : num  75.1 59.7 69.3 75.5 68.9 ...
 $ percollege          : num  19.6 11.2 17 17.3 14.5 ...
 $ percprof            : num  4.36 2.87 4.49 4.2 3.37 ...
 $ poppovertyknown     : int  63628 10529 14235 30337 4815 35107 5241 16455 13081 154934 ...
 $ percpovertyknown    : num  96.3 99.1 95 98.5 82.5 ...
 $ percbelowpoverty    : num  13.15 32.24 12.07 7.21 13.52 ...
 $ percchildbelowpovert: num  18 45.8 14 11.2 13 ...
 $ percadultpoverty    : num  11.01 27.39 10.85 5.54 11.14 ...
 $ percelderlypoverty  : num  12.44 25.23 12.7 6.22 19.2 ...
 $ inmetro             : int  0 0 0 1 0 0 0 0 0 1 ...
 $ category            : chr  "AAR" "LHR" "AAR" "ALU" ...

In [90]:
summary(midwest)

      PID          county             state                area
 Min.   : 561   Length:437         Length:437         Min.   :0.00500
 1st Qu.: 670   Class :character   Class :character   1st Qu.:0.02400
 Median :1221   Mode  :character   Mode  :character   Median :0.03000
 Mean   :1437                                         Mean   :0.03317
 3rd Qu.:2059                                         3rd Qu.:0.03800
 Max.   :3052                                         Max.   :0.11000
    poptotal         popdensity          popwhite          popblack
 Min.   :   1701   Min.   :   85.05   Min.   :    416   Min.   :      0
 1st Qu.:  18840   1st Qu.:  622.41   1st Qu.:  18630   1st Qu.:     29
 Median :  35324   Median : 1156.21   Median :  34471   Median :    201
 Mean   :  96130   Mean   : 3097.74   Mean   :  81840   Mean   :  11024
 3rd Qu.:  75651   3rd Qu.: 2330.00   3rd Qu.:  72968   3rd Qu.:   1291
 Max.   :5105067   Max.   :88018.40   Max.   :3204947   Max.   :1317147
 popamerindian        popasian         popother        percwhite
 Min.   :    4.0   Min.   :     0   Min.   :     0   Min.   :10.69
 1st Qu.:   44.0   1st Qu.:    35   1st Qu.:    20   1st Qu.:94.89
 Median :   94.0   Median :   102   Median :    66   Median :98.03
 Mean   :  343.1   Mean   :  1310   Mean   :  1613   Mean   :95.56
 3rd Qu.:  288.0   3rd Qu.:   401   3rd Qu.:   345   3rd Qu.:99.07
 Max.   :10289.0   Max.   :188565   Max.   :384119   Max.   :99.82
   percblack       percamerindan        percasian        percother
 Min.   : 0.0000   Min.   : 0.05623   Min.   :0.0000   Min.   :0.00000
 1st Qu.: 0.1157   1st Qu.: 0.15793   1st Qu.:0.1737   1st Qu.:0.09102
 Median : 0.5390   Median : 0.21502   Median :0.2972   Median :0.17844
 Mean   : 2.6763   Mean   : 0.79894   Mean   :0.4872   Mean   :0.47906
 3rd Qu.: 2.6014   3rd Qu.: 0.38362   3rd Qu.:0.5212   3rd Qu.:0.48050
 Max.   :40.2100   Max.   :89.17738   Max.   :5.0705   Max.   :7.52427
   popadults          perchsd        percollege        percprof
 Min.   :   1287   Min.   :46.91   Min.   : 7.336   Min.   : 0.5203
 1st Qu.:  12271   1st Qu.:71.33   1st Qu.:14.114   1st Qu.: 2.9980
 Median :  22188   Median :74.25   Median :16.798   Median : 3.8142
 Mean   :  60973   Mean   :73.97   Mean   :18.273   Mean   : 4.4473
 3rd Qu.:  47541   3rd Qu.:77.20   3rd Qu.:20.550   3rd Qu.: 4.9493
 Max.   :3291995   Max.   :88.90   Max.   :48.079   Max.   :20.7913
 poppovertyknown   percpovertyknown percbelowpoverty percchildbelowpovert
 Min.   :   1696   Min.   :80.90    Min.   : 2.180   Min.   : 1.919
 1st Qu.:  18364   1st Qu.:96.89    1st Qu.: 9.199   1st Qu.:11.624
 Median :  33788   Median :98.17    Median :11.822   Median :15.270
 Mean   :  93642   Mean   :97.11    Mean   :12.511   Mean   :16.447
 3rd Qu.:  72840   3rd Qu.:98.60    3rd Qu.:15.133   3rd Qu.:20.352
 Max.   :5023523   Max.   :99.86    Max.   :48.691   Max.   :64.308
 percadultpoverty percelderlypoverty    inmetro         category
 Min.   : 1.938   Min.   : 3.547     Min.   :0.0000   Length:437
 1st Qu.: 7.668   1st Qu.: 8.912     1st Qu.:0.0000   Class :character
 Median :10.008   Median :10.869     Median :0.0000   Mode  :character
 Mean   :10.919   Mean   :11.389     Mean   :0.3432
 3rd Qu.:13.182   3rd Qu.:13.412     3rd Qu.:1.0000
 Max.   :43.312   Max.   :31.162     Max.   :1.0000

#### 문제2. poptotal(전체 인구)을 total로, popasian(아시아 인구)을 asian으로 변수명을 수정하세요.

In [91]:
library(dplyr)
midwest <- rename(midwest, total = poptotal)
midwest <- rename(midwest, asian = popasian)

In [92]:
head(midwest)

  PID county    state area  total popdensity popwhite popblack popamerindian
1 561 ADAMS     IL    0.052 66090 1270.9615  63917    1702     98
2 562 ALEXANDER IL    0.014 10626  759.0000   7054    3496     19
3 563 BOND      IL    0.022 14991  681.4091  14477     429     35
4 564 BOONE     IL    0.017 30806 1812.1176  29344     127     46
5 565 BROWN     IL    0.018  5836  324.2222   5264     547     14
6 566 BUREAU    IL    0.050 35688  713.7600  35157      50     65
  asian ... percollege percprof poppovertyknown percpovertyknown
1 249   ... 19.63139   4.355859 63628           96.27478
2  48   ... 11.24331   2.870315 10529           99.08714
3  16   ... 17.03382   4.488572 14235           94.95697
4 150   ... 17.27895   4.197800 30337           98.47757
5   5   ... 14.47600   3.367680  4815           82.50514
6 195   ... 18.90462   3.275891 35107           98.37200
  percbelowpoverty percchildbelowpovert percadultpoverty percelderlypoverty
1 13.151443        18.01172             11.009776        12.443812
2 32.244278        45.82651             27.385647        25.228976
3 12.068844        14.03606             10.852090        12.697410
4  7.209019        11.17954              5.536013         6.217047
5 13.520249        13.02289             11.143211        19.200000
6 10.399635        14.15882              8.179287        11.008586
  inmetro category
1 0       AAR
2 0       LHR
3 0       AAR
4 1       ALU
5 0       AAR
6 0       AAR

#### 문제3. total, asian 변수를 이용해 '전체 인구 대비 아시아 인구 백분율' 파생변수를 만들고, 히스토그램을 만들어 도시들이 어떻게 분포하는지 살펴보세요.

In [94]:
midwest$ratio <- midwest$asian/midwest$total*100
hist(midwest$ratio)

![ex_screenshot](./img/9.png)

#### 문제4. 아시아 인구 백분율 전체 평균을 구하고, 평균을 초과하면 "large", 그 외에는 "small"을 부여하는 파생변수를 만들어 보세요.

In [96]:
mean(midwest$ratio)

[1] 0.4872462

In [97]:
midwest$group <- ifelse(midwest$ratio > 0.4872462, "large", "small")

#### 문제5. "large"와 "small"에 해당하는 지역이 얼마나 되는지, 빈도표와 빈도 막대 그래프를 만들어 확인해보세요.

In [98]:
table(midwest$group)

large small
  119   318

In [99]:
library(ggplot2)
qplot(midwest$group)

![ex_screenshot](./img/10.png)